#chat_bg {
    background-image: url('.././images/blur-162.jpg') !important;
    background-size: 100% 100vh !important;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%;
    width: 100%;
}

#chatCompMain {
    width: 80%;
    height: 80vh;
    margin: 10vh 10% 10vh 10%;
    background-color: transparent;
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 1);
}

@media (max-width: 1000px) {
    #chatCompMain {
        width: 100%;
        height: 80vh;
        margin: 10vh 0 10vh 0;
        background-color: transparent;
        display: flex;
        box-sizing: border-box;
        overflow: hidden;
    }
}

#chatsTools {
    color: rgba(0, 5, 20, 1);
    size: 10px;
    background-color: rgb(0, 18, 67);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70px;
    padding: 15px;
    margin-bottom: 20px;
}

#chatsTools button {
    color: white;
    background-color: transparent;
    border: 0;
    margin: 0;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 25px !important;
}

#mainlist {
    height: 100%;
    background-color: whitesmoke;
    width: calc(40% - 70px);
    min-width: 300px;
    overflow: auto !important;
}

#chatdisplay {
    width: 60%;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.5)
}

#userinfo img {
    background-color: transparent;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    margin-bottom: 20px;
}

#nickName {
    color: aliceblue;
}

#no_yet {
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no_yet>img {
    max-height: 50vh;
    filter: grayscale(100%) brightness(50);
    opacity: 50%;
}

.myModal {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    border: 0px;
}


.modalHeader {
    background-color: rgba(204, 0, 104, 1);
    color: white;
    margin: 5px 5px 15px 5px;
    display: flex;
    flex-direction: column;
}

.modalHeader h1 {
    font-size: 30px;
}

.modalBody {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
}

.modalFooter {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
}

.myModal label {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.myModal input {
    height: 6vmin;
    font-size: 2vmin;
    border-radius: 3vmin;
    padding-left: 1vmin;
    border-color: transparent;
    background-color: transparent;
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.8);
}

.modalBody span {
    font-size: 30px;
}

.modalBody video,
.modalBody img,
.modalBody div {
    max-width: 100%;
    max-height: 40vh;
}

.modalFooter button {
    color: rgb(0, 0, 0) !important;
    background-color: transparent !important;
    border-color: transparent !important;
    border: 0;
    margin: 5px;
    font-size: 25px !important;
    height: 60px;
    width: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    border-radius: 30px !important;
}

.modalFooter button:hover {
    background-color: rgba(186, 186, 186, 0.4) !important;
}

.modalFooter #okRecBtn {
    color: rgb(0, 119, 255) !important;
}

.modalFooter #startRecordingBtn {
    color: rgb(255, 0, 0) !important;
}

/* width */
#mainlist ::-webkit-scrollbar {
    width: 5px !important;
}

/* Track 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }*/

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(204, 0, 104, 0.2) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(121, 121, 121, 0.8) !important;
}