#login_register_wrapper{
    height: 900px; /* Should be FULL SCREEN */
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.log_reg_window {
    height: 800px;
    width: 500px;
    background-color: grey;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log_reg_window label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.log_reg_window .ending_buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.log_reg_window .ending_buttons button{
    margin: 15px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: pink;
    font-weight: 500;
    color: black;
    border: 0;
}