#profPicLabel {
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: end;
    align-items: center;
}

#profPicLabel h4{
    
    right: 50px;
    width: 100vw !important;
    height: fit-content;
    font-size: 100% !important;
    margin: 0;
}

#profPic {
    height: 100px;
    width: 100px;   
    border-radius: 50px;
    margin: 0;
}

#new_user_img_input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.two-in-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pwdBtn {
    background-color: gray;
    color: aliceblue;
    font-size: 30px;
    width: fit-content;
    border-radius: 10px;
}

#regErrors {
    color: rgb(109, 0, 0);
    font-size: large;
    font-weight: 600;
}