#audio-container {
    align-self: center;
    background-color: aliceblue;
    width: fit-content;
    position: relative;
    padding: 3vmin;
    border-radius: 8vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
}