#audio-container {
    align-self: center;
    background-color: aliceblue;
    width: fit-content;
    position: relative;
    padding: 3vmin;
    border-radius: 8vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#clock{
    /* display: flex; */
    font: 4em sans-serif;
    margin-right: 30%;
    /* margin-left: 30%; */

}

.bi-skip-start-circle{
    float: left;
    height: fit-content;
    width: fit-content;
    padding: 0;
    position: relative;

    /* background-color: transparent; */
    /* border-color: transparent; */
}
#stopStartButton{
    position: relative;
    background-color: transparent;
    border-color: transparent;
    background-color: rgba(187, 200, 255, 0.372);
    color: black;
    margin: 5px;
    font-size: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 50px;
    flex: 0;
    border-radius: 30px !important;
    border: 0px;
    
}