#chatCard {
    height: fit-content;
    background-color: aliceblue;
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0, 0.5);
}

#chatCard img {
    height: 90px;   
    width: 90px;
    border-radius: 45px;
    align-self: flex-start;
}

#textedInfos {
    background-color: inherit;
    margin-left: 15px;
    width: calc(100% - 90px - 15px - 15px);
    /*border-radius: 0 45px 45px 0;*/
}

#addresseeInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#chatCard h1 {
    font-size: 30px;
    color: rgb(0, 46, 32)
}

#msgsInfo {
    background-color: inherit;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
}

#msgsInfo small {
    box-shadow: 0px 0px 10px 10px aliceblue;
    color: rgba(100, 100, 100, 1);
    font-size: 20px;
    text-align: right;
    align-self: center;
    font-style: italic;
    margin-left: 5px;
    min-width: fit-content;
}

#msgsInfo h2 {
    color: rgb(84, 108, 85);
    font-size: 25px;
    align-self: center;
    display: block;
    overflow: hidden;
}