.cid_bg {
    background-color: transparent;
    height: 90vh;
    display: flex;
    flex-direction: column;
    min-width: 700px;
}

#cid_chat {
    flex-grow: 9;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cid_bg ::-webkit-scrollbar {
    width: 30px;
  }
  
  /* Track 
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }*/
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.224); 
    border-radius: 0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3); 
  }

#cid_inputs {
    color: gray;
    size: 10px;
    background-color: rgba(200, 200, 200, 0);
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
}

#cid_inputs input {
  background-color: rgb(202, 202, 202);
}

#cid_inputs .btn-circle{
  /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 49%, rgba(255, 255, 255, 0.5) 49%);*/
  background-color: rgba(255, 255, 255, 0.505);
  color: black;
  margin: 5px;
  font-size: 30px !important;
  height: 60px;
  width: 60px;
  flex: 0 1 60px;
  border-radius: 30px !important;
  border: 0px;
}

#cid_inputs .icon_circle {
    background-color: rgb(202, 202, 202);
    color: black;
    margin: 5px;
    font-size: 30px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 60px;
    flex: 0 1 60px;
    border-radius: 30px !important;
    border: 0px;
}
#uploadOptions{
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 180px;
  bottom: 150px;
  
}

#cid_text {
    background-color: rgba(255, 255, 255, 0.24) !important;
    box-shadow: inset 5px 5px 10px -5px black;
    border-color: transparent;
    height: 60px;
    overflow: scroll;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    min-width: 500px;
    margin-left: 10px;
    margin-right: 20px;
    flex: 1 1 auto;
    border-radius: 30px !important;
}

#mulMedPrev {
  max-width: 200px;
  max-height: 200px;
}

#mulMedContainer {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 1150px;
  bottom: 150px;
}

#mulMedContainer button {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(202, 202, 202);
  color: black;
  font-weight: 600;
  border: 0px;
  right: -10px;
  top: -10px;
}